@CHARSET "UTF-8";
@import "roadsketch.css";

#diary			{ margin:20px auto;	width:540px; }
#diary form, 
#diary table	{ width:100% }
#diary table,	
#diary table td { border:1px solid #333 }
#diary table td { padding:5px }
#diary ul		{ width:100%; margin-top:20px }
#diary ul li	{ width:100%; margin-top:10px }

