@CHARSET "UTF-8";
@import "roadsketch.css";

#site-introduction				{ padding:20px;	width:540px; }
#site-introduction img#profile	{ display:block; float:left; }
#site-introduction h2		   	{ float:left; width:320px; margin:50px 0 0 20px }
#site-introduction p			{ clear:both; font-size:1.1em; padding:20px; line-height:1.5em }