@CHARSET "UTF-8";
@import "roadsketch.css";

#map			{ margin:20px auto;	width:540px; }

#map form, 
#map table	{ width:100% }

#map table,	
#map table td { border:1px solid #333 }
#map table td { padding:5px }

#map ul		{ width:100%; margin-top:20px }
#map ul li	{ width:100%; margin-top:10px }

