@CHARSET "UTF-8";

/*--------------------------------------------------------------------------------
	로그인
--------------------------------------------------------------------------------*/
.page-login	h1									{ text-align:center; margin:30px auto 0 auto; line-height:80px; font-family:"맑은 고딕", tahoma; color:rgb(121, 179, 11); } 
.page-login .ui-field-contain					{ margin:0px auto 0 auto; }

.page-login .ui-controlgroup-controls			{ width:100% }
.page-login .ui-field-contain div.ui-input-text	{ display:block; width:280px; margin:0 auto 10px auto; }
.page-login .ui-btn.ui-submit					{ display:block; width:100px; margin-top:20px; margin-left:auto; margin-right:auto }

.join-text										{ width:100%; font-size:12px; text-align:center; padding:10px; font-family:"맑은 고딕", 돋움, 굴림; text-shadow:none; }
.join-text a									{ text-decoration:none; }

.error-text										{ width:100%; font-size:12px; text-align:center; padding:10px; font-family:"맑은 고딕", 돋움, 굴림; text-shadow:none; font-weight:bold; color:#f00 }					

/*--------------------------------------------------------------------------------
	메인
--------------------------------------------------------------------------------*/
.welcome-message								{ width:100%; font-size:12px; text-align:left; padding:10px; font-family:"맑은 고딕", 돋움, 굴림; text-shadow:none; }
.welcome-message img							{ display:block; width:100px; }
.welcome-message h2								{ font-size:14px }

/*--------------------------------------------------------------------------------
	 지도
--------------------------------------------------------------------------------*/
.list_m											 {padding:5; margin-bottom:20px}
.list_m table                                    {background-color:#FAF4C0; border:1px solid #333; border-collapse:collapse; width:100%; height: 100px}
.list_m table td                                 {border:1px solid #333; cellpadding:5 }

/*--------------------------------------------------------------------------------
	 다이어리
--------------------------------------------------------------------------------*/

.contentList_M label 						 	{font-family:"맑은 고딕", 돋움, 굴림;}
.contentView_m									{font-family:"맑은 고딕", 돋움, 굴림; font-weight:bold; color:#f00 }	

#board .ui-btn-inner							{ font-size:12px }
#board .ui-btn-icon-left .ui-btn-inner			{ padding-left:35px }

	