body {
	background-color: #efe5d0;
	position: absolute;
	left: 300px;
	width: 400px
	height: 400px;
	padding: 15px;
	text-align: center;
	margin:0 auto;
}

form {
	display: table;
	padding: 10px;
	border: thin dotted #7e7e7e;
	background-color: #e1ceb8;
}

input.blank{
	font-size: 8pt;
	forn-family:"돋움";
	width: 100px;
	vertical-align: top;
	text-align: right;
}

div.tableRow {
	display: table-row;
}

div.tableRow p { 
	display: table-cell;
	vertival-align: top;
}

div.tableRow p:first-child  {
	text-align: center;
}

